<div class="lg:w-3/12 flex flex-col justify-center items-center mt-2 p-10 mx-auto shadow-2x mb-4">
<h3 class="text-3xl font-semibold text-center">Forget Password</h3>
<form class="flex flex-col"  [formGroup]="forgetform">
<div class="flex flex-col mt-4 mb-1">
    <input
      type="email"
      class="p-2 border border-gray-300 rounded"
      placeholder="email"
      formControlName="email"
    />
    <span *ngIf ="forgetform.hasError('required','email') &&forgetform.controls['email'].dirty" class="text-red-600">*email Is Required</span>
    <span *ngIf ="forgetform.hasError('email','email') &&forgetform.controls['email'].dirty" class="text-red-600">*email Is not valid </span>
  </div>
  <button [disabled]="forgetform.invalid" [class.disabled]="forgetform.invalid" (click)="Forget()" class="mt-3 text-white bg-indigo-500 p-2 hover:text-indigo-800">login</button>
</form>
</div>