<nav class="w-full bg-indigo-500 shadow-lg text-4xl p-4 flex justify-between ">
    <div class="logo">
        <span class="text-gray-200 justify-start items-center">Book store</span>
    </div>
<div class="search  relative">
    <span class="absolute  mt-1.5 mx-3  "> <i class="fa-solid fa-magnifying-glass"></i></span>
    <input type="text" placeholder="Search Book" class="w-96 p-2 pl-10 rounded rounded-r-none text-gray-600" >
    <button class="bg-slate-600 text-white p-2 outline-none">Search</button>
</div>
<div class="nav-items">
    <span class="text-xl cursor-pointer m-3 text-gray-200 hover:underline hover:text-indigo-200">Login</span>
    <span class="text-xl cursor-pointer m-3 text-gray-200 hover:underline hover:text-indigo-200">Register</span>
    <span class="text-xl cursor-pointer m-3 text-gray-200 hover:underline hover:text-indigo-200">Cart</span>
    <span class="text-xl cursor-pointer m-3 text-gray-200 hover:underline hover:text-indigo-200">Well Come User</span>
    <span class="text-xl cursor-pointer m-3 text-gray-200 hover:underline hover:text-indigo-200">Logout</span>
</div>
</nav>
